<h3 class="align-center">My Matches</h3>

<% if @users.length == 0 %>
  <h4 class="align-center">Sorry, you don't have any matches</h4>
<% else %>

  <ul class="collection">
    <% @users.each do |user| %>
      <li class="collection-item avatar">
        <%= image_tag gravatar_url(user.email, 64), alt: "", class: "circle" %>
        <p>Name: <%= user.display_name %><br/>
        Email: <%= user.email %> <br/>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to event_path(@event), class: "btn waves-effect waves-light"  do %>
        <i class="material-icons left">assignment_return</i> Back
      <% end %>