@import "materialize";
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.alert-info, .alert-notice { 
  border-color: #B4E1E4;
  background: #81c7e1;
  color: #fff;
  margin: 1em;
  padding: 1em;
}
.alert-danger, .alert-alert { 
 border-color: #B63E5A;
 background: #E26868;
 color: #fff; 
 margin: 1em;
 padding: 1em;
}
.alert-warning { 
  border-color: #F3F3EB;
  background: #E9CEAC;
  color: #fff; 
  margin: 1em;
  padding: 1em;
}
.alert-success { 
  border-color: #19B99A;
  background: #20A286;
  color: #fff; 
  margin: 1em;
  padding: 1em;
}

span.badge {
  color: white;
}